<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Select Category</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" >
      <div class="form-group">
        <label for="category">Category:</label>
        <div class='input-group' id='privacy'>
          <select class="form-control" id="category" [(ngModel)]="selectedCategory">
            <option *ngFor="let category of categories" [value]="category">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="join.emit(selectedCategory)">OK</button>
    </div>
  </div>
</div>
