
.main-header {
  .user-dropdown{
    padding-bottom: 0;
    padding-top: 6px;
  }

  .user-icon{
    margin-right: 5px;
  }

  .poweredbywrapper {
    display: block;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-left: 5px;
    color: #999999;
    padding: 0 0 0;

    .poweredbystrava {
      height: 35px !important;
    }
  }


}




