<div class="main-header">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" (click)="showToMain($event)" href="/main">Ride Manager</a>

   <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item" *ngIf="isLoggedIn"><a class="nav-link" (click)="showManageActivities($event)" href="/main/manage">Manage</a></li>
          <li class="nav-item" *ngIf="isLoggedIn"><a class="nav-link" (click)="showUserHistory($event)" href="/main/history">History</a></li>
        </ul>

        <ul class="navbar-nav" >
          <li class="nav-item dropdown" *ngIf="user">
           <a class="nav-link dropdown-toggle user-dropdown" data-toggle="dropdown" href="#" id="navbardrop" >
              <img *ngIf="user?.profile_medium" class="rounded-circle user-icon" [src]="user?.profile_medium" width="24" height="24" alt=""/>
              <img *ngIf="!user?.profile_medium" class="rounded-circle user-icon" src="../../../assets/images/medium.png" width="24" height="24" alt=""/>{{user?.name}}
           </a>
           <div class="dropdown-menu">
             <a class="dropdown-item" [href]="'https://www.strava.com/athletes/' + user?.strava_athlete_id" target="_blank">Profile</a>
             <button class="dropdown-item" (click)="onLogOut()">Log Out</button>
           </div>
         </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <app-login-button></app-login-button>
          </li>
         <li class="nav-item" *ngIf="isLoggedIn">
           <a class="poweredbywrapper" href="http://www.strava.com" target="_blank">
             <img class="poweredbystrava" src="../../../assets/images/api_logo_pwrdBy_strava_stack_gray.svg"/>
           </a>
         </li>
        </ul>
      </div>
  </nav>
</div>
