.edit-activity{

  .activity-type-select{
    min-width: 100px;
  }

  .name-input{
    min-width: 200px;
  }

  .create-button{
    margin-top: 20px;
  }
  .card-body{
    padding: 0;
  }
  .card-header{
    background-color: transparent;
    border-bottom: 0;
    font-weight: bold;
  }

  .card {
    margin-bottom: 10px;
  }

  .card-footer{
    border-top: 0;
    background-color: transparent;
    padding-top: 0;

    .btn{
      margin-right: 5px;
    }
  }

  .error-message{
    color: red;
    margin-left: 5px;
  }

  .route-name{
    margin: 5px;
  }

  td{
    vertical-align: center;
  }
  
}
