.activity-panel{
  .activity-well{
    padding: 3px 10px;
    min-height: 90px;
    h4 {
      margin: 0;
    }
  }

  .panel-first {
    .rank {
      .fa {
        color: gold;
      }
    }
  }

  .panel-second {
    .rank {
      .fa {
        color: silver;
      }
    }
  }

  .panel-third {
    .rank {
      .fa {
        color: #8C7853;
      }
    }
  }

  .card{
    border-radius: 0;
    border-width: 0.5px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
