<div class="container-fluid faq">
  <h2>FAQs</h2>

  <h4>Why can't I create and activity?</h4>
  Only Strava users are allowed to create activities first log into your Strava account to create an activity. if you are already logged in to Strava you might have reached your limit of active activities. currently each user can only have 3 active activities at a time. If you need more please contact us.
  <h4>I do not see any segments when I add a stage?</h4>
  when adding stages <%=appName%> will only display starred segments. if you wish to add segments go to <a href="https://www.strava.com/athlete/segments/starred">https://www.strava.com/athlete/segments/starred</a> and add some starred segments.
  <h4>How do I add a route to a activity</h4>
  First go to Strava and create and save a route <a href="https://www.strava.com/athlete/routes">https://www.strava.com/athlete/routes</a>. Create the activity and press the 'Set Route' button and select the route.
  <h4>I can't join and event?</h4>
  You must first log in using Strava or Facebook in order to join a activity
  <h4>I submitted my activity to Strava but the results are not updated in the race</h4>
  Results are only updated if you joined the race with logged in to Strava not Facebook. If they are still not updated after the activity is finished, and you have submitted your activity in Strava, you can press the 'Update Results' Button to force and updated

</div>
