<div>
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="-3" style="z-index: 2;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home"><%=appName%></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <li><a href="/activity/manage">Manage</a></li>
          <li><a href="/user/history">History</a></li>
          <li><a href="/user/list">Users</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown" data-toggle="dropdown" href="#" >
              <img class="img-circle" [src]="profile" width="24" height="24"/>
              {{firstname}} {{lastname}}
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://www.strava.com/athletes/<%= athlete.id %>" target="_blank">Profile</a></li>
              <li><a href="#" onclick="logoutClicked()">Log Out</a></li>
            </ul>
          </li>
          <li>
            <a class="poweredbywrapper" style="padding-top: 10px; padding-bottom: 0; padding-right: 0; padding-left: 0" href="http://www.strava.com" target="_blank">
              <img class="poweredbystrava" src="../../../assets/images/api_logo_pwrdBy_strava_horiz_light.png"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
