
.main-header {
}

  .poweredbywrapper {
    display: block;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-left: 5px;
    color: #999999;
    padding: 0;
  }

  .poweredbystrava {
    height: 35px !important;
  }


