<div class="create-activity" *ngIf="Activity">
  <h2>Create Activity</h2>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="type">Type:</label>
              <select class="form-control activity-type-select" id="type" [ngModel]="Activity?.activity_type" (ngModelChange)="Activity.activity_type = $event">
                <option value="group_ride">Ride</option>
                <!-- <option value="group_run">Run</option>
                <option value="group_ski">Ski</option> -->
                <option value="race">Race</option>
                <option value="triathlon">Triathlon</option>
              </select>
          </div>
        </div>
        <div class="col-8">
          <div class="form-group">
            <label for="activity-name">Name:</label>
            <input type="text" [ngModel]="Activity?.name" (ngModelChange)="Activity.name = $event" class="form-control name-input" id="activity-name" maxlength="300">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="5" id="description" maxlength="1000" [ngModel]="Activity?.description" (ngModelChange)="Activity.description = $event"></textarea>
      </div>
      <div class = "row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="startTime">Start Time:</label>
            <div class="input-group">
              <input id="startTime" [owlDateTime]="dt" placeholder="Date Time">
              <span [owlDateTimeTrigger]="dt"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt></owl-date-time>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>
              End Time:
             <!-- <datetime-popup id= 'endTime' [(value)]="Activity.end_time"></datetime-popup> -->
            </label>
            </div>
          </div>
        </div>
      </div>

      <div class = "row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="privacy">Privacy:</label>
            <select class="form-control" id='privacy' [ngModel]="Activity?.privacy" (ngModelChange)="Activity.privacy = $event">
              <option value="public">Public</option>
              <option value="private">Hidden</option>
            </select>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="maxParticipants">Maximum number of participants:</label>
            <input type="number" class="form-control" id="maxParticipants"  min="2" max="100" [ngModel]="Activity?.max_participants" (ngModelChange)="Activity.max_participants = $event">
          </div>
        </div>
      </div>

    <div class="card">
        <label>Categories:</label>
        <div *ngIf="Activity?.categories.length !== 0">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of Activity?.categories">
              <td style="vertical-align:center">{{category.name}}</td>
              <td><button type="button" class="close" (click)="deleteCategory(category)">x</button></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="Activity?.categories.length === 0">
          <p style="color: red">No categories, You must have at least one catagory</p>
        </div>
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#addCategoryDialog" (click)="showAddCategory()">Add Category</button>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
     <div class="card">
        <label *ngIf="Activity.route">Route:</label>
        <p *ngIf="Activity.route"><a [href]="'https://www.strava.com/routes/' + Activity.route?.id " target="_blank">{{Activity.route?.name}}</a> {{Activity.route?.distance/1000 | number : '2'}}km</p>
        <div *ngIf="Activity.activity_type !== 'race' && Activity.activity_type !== 'triathlon'">
          <div *ngIf="Activity.stages.length === 0 && !Activity.route ">
            <p style="color: red">You must have at least one stage or a route set, please add a stage or set the route for this activity</p>
          </div>
        </div>
        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#addRouteDialog" (click)="showRoutes()">Set Route</button>
        <button *ngIf="Activity.route" class="btn btn-outline-secondary" (click)="clearRoute()">Clear Route</button>
      </div>
       <!-- <div class="well">
        <div ng-if="activity.stages.length != 0">
          <label>Timed Stages:</label>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Activity</th>
              <th>Dist.</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stage in activity.stages | orderBy : 'number'">
              <td style="vertical-align:center">{{stage.number}}</td>
              <td style="vertical-align:center"><img ng-src="{{stage.activity_type | typeToIcon}}" height="20" width="20" data-toggle="tooltip" title="{{stage.activity_type}}"/></td>
              <td style="vertical-align:center"><a ng-href="https://www.strava.com/segments/{{stage.segmentId}}" target="_blank">{{stage.name}}</a></td>
              <td style="vertical-align:center">{{stage.distance/1000 | number : 2}}km</td>
              <td class="btn-group">
                <button class="btn btn-outline-secondary" ng-disabled="stage.number === 1" ng-click="moveStageUp(stage)"><span class="glyphicon glyphicon-arrow-up"></span></button>
                <button class="btn btn-outline-secondary" ng-disabled="stage.number === activity.stages.length" ng-click="moveStageDown(stage)"><span class="glyphicon glyphicon-arrow-down"></span></button>
                <button class="btn btn-outline-secondary" ng-click="deleteStage(stage)"><span class="glyphicon glyphicon-remove-circle"></span></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div ng-if="activity.activityType === 'race' || activity.activityType === 'triathlon'">
          <div ng-if="activity.stages.length === 0">
            <p style="color: red">You must have at least one stage, please add a stage</p>
          </div>
        </div>

        <div ng-if="activity.activityType !== 'race' && activity.activityType !== 'triathlon'">
          <div ng-if="activity.stages.length === 0 && !activity.routeId ">
            <p style="color: red">You must have at least one stage or a route set, please add a stage or set the route for this activity</p>
          </div>
        </div>

        <p><label>Total Distance</label> {{activity.totalDistance/1000 | number : 2}}km</p>

        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#addStageDialog" ng-click="showAddStage()">Add Stage</button>

      </div>
    </div>-->
    </div>

  <button class="btn btn-primary create-button" (click)="create()">
    Create Activity
  </button>

  <button class="btn btn-outline-secondary back-button" (click)="back()">Cancel</button>

  <div  class="modal fade" id="addCategoryDialog" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Category {{ newCategory?.name }}</h4>
          <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" [ngModel]="newCategory?.name" (ngModelChange)="newCategory.name = $event">
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="newCategory?.name === ''" type="button" class="btn btn-primary" data-dismiss="modal" (click)="addCategory(newCategory)">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
