<div class="select-stage">
  <div class="inner-addon right-addon" style="width: 50%;margin-bottom: 20px">
    <i class="fas fa-search"></i>
    <input type="text" class="form-control" [(ngModel)]="stageSearchText">
  </div>
  <div *ngIf="stages?.length === 0 && loadingStages">
    <h5 style="height: 400px; text-align: center; vertical-align: middle"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i> Loading...</h5>
  </div>

  <div *ngIf="stages?.length === 0 && !loadingStages">
    <h5 style="height: 400px; text-align: center; vertical-align: middle">You do not have any stared segments go to <a href="https://www.strava.com/segments/search">Strava</a> and star some segments.</h5>
  </div>

  <div style="height: 400px; overflow: scroll" *ngIf="stages?.length !== 0">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th>Type</th>
        <th>Activity</th>
        <th>Dist.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stage of stages" (click)="selectStage(stage)">
        <td style="vertical-align:center"><i *ngIf="stage === selectedStage" class="far fa-check-circle"></i></td>
        <td style="vertical-align:center"><img [src]="stage.activity_type | stageTypeToImage" height="20" width="20" data-toggle="tooltip" title="{{stage.activity_type}}"/></td>
        <td style="vertical-align:center"><a [href]=" 'https://www.strava.com/segments/' + stage.id" target="_blank">{{stage.name}}</a></td>
        <td style="vertical-align:center">{{stage.distance/1000 | number : '1.2-2'}}km</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-default" (click)="getStages()">Refresh</button>
  <button type="button" [disabled]="selectedStage === undefined"  class="btn btn-primary" data-dismiss="modal" (click)="stageSelected.emit(selectedStage)">Add</button>
</div>
