.select-stage{
  h5{
    height: 400px;
    text-align: center;
    vertical-align: middle;
  }

  .stage-table{
    height: 400px;
    overflow: scroll;
    td{
      vertical-align: center;
    }
  }
}
