.time{

  input{
    border: 1px solid #ced4da;
    padding: 6px 12px;
    border-radius: 0.25rem 0 0 0.25rem;
    color: #495057
  }

  .input-group-text{
    border-radius: 0 0.25rem 0.25rem 0;
  }
}
