<div class="container-fluid">
  <h2>About Me</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      I am a driven and creative software developer in the ottawa area.<p> For any issues with Ride manager please email them to <a href="mailto:xiaan42-ridemanager@yahoo.com">xiaan42-ridemanager@yahoo.com</a></p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/10018917/3021422/4/medium.jpg"/>
  </div>
  </div>

  <p><iframe height='200' width='300'  allowtransparency='true'  src='https://www.strava.com/athletes/10018917/activity-summary/57bd8685c3dfa9c148aac5f0da9a743e6fc48922'></iframe>
  </p>

  <p>
    <a href="https://ca.linkedin.com/pub/christiaan-burchell/27/607/7b9">

      <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" alt="View Christiaan Burchell's profile on LinkedIn">

    </a></p>

  <p>


    <a href="https://twitter.com/xiaan42" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @xiaan42</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


    <style>.ig-b- { display: inline-block; }
    .ig-b- img { visibility: hidden; }
    .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
    .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style></p>

  <p>
    <a href="https://www.instagram.com/xiaanbiking/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a></p>


</div>
