<div class="main-page">
  <app-header [user]="user"></app-header>
  <div class="container-fluid main-content" >
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
        <app-main-menu></app-main-menu>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12 d-flex align-items-stretch flex-column">
        <app-faq *ngIf="pageId === 'faq'"></app-faq>
        <app-about *ngIf="pageId === 'about'"></app-about>
        <app-history *ngIf="pageId === 'history'"></app-history>
        <app-manage *ngIf="pageId === 'manage'"></app-manage>
        <app-join *ngIf="pageId === 'join'"></app-join>
        <app-create *ngIf="pageId === 'create'" [user] = "user"></app-create>
        <app-summery *ngIf="pageId === 'summery'"></app-summery>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
