.activity{
  .title{
    margin-bottom: 0;
    margin-top: 0;
  }

  .created-by{
    margin-top: 0;
  }

  .state{
    text-align: right;

    h4{
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
