.activity {
  app-activity-map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
  }

  app-activity-elevation{
    max-height: 200px;
    margin-top: 20px;
  }

  .menu {
    .actions-menu {
      margin-top: 20px;
      text-align: center;
    }

    .card-body {
      padding: 0;
    }

    .login {
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  .title {
    margin-bottom: 0;
    margin-top: 0;
  }

  .created-by {
    margin-top: 0;
  }

  .state {
    text-align: right;

    h4 {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
